#visual{
    position: relative;
    width: 100%;
    height: 100vh;
    article{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 1;
        transition: opacity 1s;
        display: flex;
        justify-content: space-between;
        padding: 200px 0;
        text-align: center;
        .pic{
            width: 50%;
            overflow: hidden;
            padding-left: 300px;
            img{
                width: 500px;
                height: 500px;
                object-fit: cover;
            }
        }
        .wrap{
            width: 50%;
            // text-align: center;
            padding-right: 200px;
            h2{
                font: bold 48px/1.3 "DM Serif Display";
                color: orange;
                margin-bottom: 10px;
            }
            strong{
                display: block;
                font: bold 28px/1 "arial";
                color: orange;
                margin-bottom: 20px;
            }
            ul{
                a{
                    display: block;
                    font: normal 20px/1.5 "arial";
                    color: #777;
                    
                    &:hover{
                        color: #fff;
                    }
                }
                margin-bottom: 10px;
            }
            p{
                font: 16px/1.4 "arial";
                color: #ccc;
            }
        }
        
        &.on{
            opacity: 1;
            z-index: 2;
        }
        &:nth-of-type(1){
            background-color: #555;
            a{
                color: #aaa;
            }
        }
        &:nth-of-type(2){
            background-color: aqua;
            h2, strong{
                color: orange;
            }
            p{
                color: #aaa;
            }
        }
        &:nth-of-type(3){
            background-color: lightsalmon; 
            h2,strong{
                color: yellow;
            }
            p{
                color: #666;
            }
        }
    }
    nav{
        position: absolute;
        z-index: 3;
        bottom: 10vh;
        right: 15vw;
        display: flex;
        gap: 30px;
        color: #fff;
        cursor: pointer;
        i{
            display: inline-block;
            &.on{
                color: #000;
                transform: scale(2);
            }
        }
    }
    .btns{
        position: absolute;
        bottom: 10vh;
        left: 15vh;
        display: flex;
        gap: 10px;
        z-index: 3;
        li{
            width: 70px;
            height: 5px;
            background-color: #fff;
            transition: 0.5s;
            cursor: pointer;
            &.on{
                width: 150px;
                background-color: #000;
            }
        }
    }
    .bar{
        width: 0%;
        height: 10px;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 4;
    }
}

@media screen and (max-width: 292px){
    #visual{
        article{
            padding: 50px 0;
            display: block;

            .pic{
                width: 100%;
                padding-left: 0px;
                margin-bottom: 10px;
                img{
                    width: 280px;
                    height: 280px;
                    &:nth-of-type(3){
                        width: 200px;
                        height: 200px;

                    }
                }
            }
            .wrap{
                width: 100%;
                padding-right: 0px;
                h2{
                    font: bold 36px/1 "DM Serif Display";
                    margin-bottom: 10px;
                }
                strong{
                    font: bold 24px/1 "arial";
                }
                ul{
                    a{
                        font: normal 16px/1.2 "arial";
                    }
                }
                p{
                    font: 14px/1.4 "arial";
                }
            }

        }
        nav{
            bottom: 5vh;
        }

        .btns{
            bottom: 5vh;
            left: 3vh;
            li{
                width: 30px;
                &.on{
                    width: 70px;
                }
            }
        }
    }
}